ul {
  list-style-type: none;
  padding: 10px;
  text-align: left;
}

li {
  list-style-type: none;
  padding: 10px;
}

h2 {
  margin: 0;
}

.app {
  text-align: center;
}

.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  padding: 20px 0;
}
.app-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;
  min-height: 100vh;
}

